<div class="panel panel-default post-form-panel">
  <div class="panel-body row">
    <div class="col-sm-1">
      <img class="rounded-img" src="/avatar.png" width="35px" height="35px"></img>
    </div>
    <div class="col-sm-11">
      <!-- form  -->
      <p>form</p>


    </div>
  </div>
</div>