<div class="panel panel-default">
  <div class="panel-body">
    <h5 style="color: grey; font-size: 125%;">Who to follow</h5>

        <p style="font-weight: bold; opacity: 0.85;" ><a href="/user/">user1</a></p>
        <p style="font-weight: bold; opacity: 0.85;" ><a href="/user/">user2</a></p>

  </div>
</div>