<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body-hidden">
        <img src="/banner.jpg" class="panel-image-preview"></p>
        <div class="panel-body-footer text-center row">
          <div class="col-sm-2" style="margin-bottom:10px;"><img src="/avatar.png" class="rounded-img" height="40px" width="40px"></div>
          <div class="col-sm-10"><h4>User name</h4></div>
          <div class="col-sm-12">
            <div class="col-sm-6" style="font-size:80%; opacity:0.7;">POSTS<br>
              <h6 style="color:#008484; font-size:200%">20</h6>
            </div>
            <div class="col-sm-6" style="font-size:80%; opacity:0.7;">FOLLOWERS<br>
              <h6 style="color:#008484; font-size:200%;">18</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render '/components/trends' %>
  </div>
  <div class="col-xs-6">
    <!-- Mostrar formulari per afegir posts -->
    <%= render '/components/post_form' %><br><br>
    <!-- Mostrar tots els posts -->
    <%= render '/components/posts_list' %>
  </div>
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p style="opacity:0.5">@ Flutter  About  Help  Terms  Privacy  Cookies  Ads  Info  Brand  Blog  Status  Apps  Jobs  Advertise  Businesses  Media  Developers</p>
      </div>
    </div>
  </div>
</div>
