<div class="row">
  <div class="col-xs-3">
    <div class="col-sm-12" style="margin-top: -200px;">
      <img src="/avatar.png" height="200px" width="200px" class="rounded-img" style="border-style:solid; border-width:10px; border-color:white;">
    </div>
    <div class="col-sm-12">
      <h3 style="font-weight: bold;"> EEEEEEE </h3>
      <p>
        Full-Length Project-Based Tutorials on Engineering, Business & Design. Also on YouTube <a href="http://www.youtube.com/devfactor">http://www.youtube.com/devfactor</a>
      </p>
    </div>
  </div>
  <div class="col-xs-6">
    <!-- Mostrar formulari per afegir posts -->
    <%= render '/components/post_form' %>
    <!-- Mostrar tots els posts -->
    <%= render '/components/posts_list' %>
  </div>
  <div class="col-xs-3">
    <%= render '/components/follow_button', :user => User.find_by_username(params[:id]) %>
    <%= render '/components/who_to_follow' %>
    <%= render '/components/trends' %>
  </div>
</div>