/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 * require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


body{
  background-color: rgba(212, 216, 212, 0.25);
}
.navbar{
  background-color: white;
}
.navbar-brand{
  position: absolute;
  left: 47%;
}
.rounded-img{
  border-radius: 5%;
}

.post-panel{
  margin-top: -21px;
}
.post-title{
  text-align: left;
  margin-left: 15px;
}
.post-content{
  text-align: left;
  margin-left: 15px;
}
.post-links{
  text-align: left;
  margin-left: 60px;
}
.post-owner{
  color: black;
  font-weight: bold;
}
.post-creation{
  opacity: 0.5;
}
.g-links{
  opacity: 0.4;
  font-size: 120%;
  margin-right: 65px;
}
.post-form-panel{
  margin-bottom: -21px;
}

.panel-image-preview{
  width: 100%;
}
.panel-body-hidden{
  padding: 0px;
}
.panel-body-footer {
  padding: 0px 10px;
  font-size: 1.3em;
  color: rgb(100, 100, 100);
}

.profile-banner {
  width: 100%;
  height: 500px;
  margin-top: -21px;
}