// Place all the styles related to the pages controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-panel{
  margin-top: -21px;
}
.post-title{
  text-align: left;
  margin-left: 15px;
}
.post-content{
  text-align: left;
  margin-left: 15px;
}
.post-links{
  text-align: left;
  margin-left: 60px;
}
.post-owner{
  color: black;
  font-weight: bold;
}
.post-creation{
  opacity: 0.5;
}
.g-links{
  opacity: 0.4;
  font-size: 120%;
  margin-right: 65px;
}
.post-form-panel{
  margin-bottom: -21px;
}

.panel-image-preview{
  width: 100%;
}
.panel-body-hidden{
  padding: 0px;
}
.panel-body-footer {
  padding: 0px 10px;
  font-size: 1.3em;
  color: rgb(100, 100, 100);
}

.profile-banner {
  width: 100%;
  height: 500px;
  margin-top: -21px;
}
