<!DOCTYPE html>
<html>
<head>
  <title>Untitled</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<span class="notice"><%= notice %></span>
<span class="alert"><%= alert %></span>

<% if !user_signed_in? %>
  <%= render 'layouts/nav_guest' %>
<% else %>
  <%= render 'layouts/nav_user' %>
<%end%>

<div class="container">
  <span class="notice"><%= notice %></span>
  <span class="alert"><%= alert %></span>
  <%= yield %>
</div>

</body>
</html>
